<div class='div-movement-container'>
    <div [hidden]="!isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div class='div-movement-selectors'>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select [(value)]='selectedCountryName'>
                <mat-option *ngFor="let country of countries" [value]="country.name">
                    {{country.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>SubRegion 1</mat-label>
            <mat-select [(value)]='selectedSubRegionName1'>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let region of subregions1" [value]='region.name'>
                    {{region.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>SubRegion 2</mat-label>
            <mat-select [(value)]='selectedSubRegionName2'>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let region of subregions2" [(value)]='region.name'>
                    {{region.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class='.div-movement-graphs'>
        <div class='div-tip'>Tip: Click on the legend to select/unselect graphs.</div>
        <canvas div='div-canvas' id='canvas' baseChart [chartType]="'line'" [datasets]="chartData" [legend]=true
            [options]="chartOptions" [labels]="xAxisLabels">
        </canvas>
    </div>

</div>