.div-movement-container {
  overflow: hidden;
  flex: display;
  flex-direction: column;
  flex-wrap: wrap;
  width: 98%;
}

.div-movement-selectors {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .mat-form-field {
    margin: 5px;
  }
}

.div-tip {
  margin-left: 5px;
}

.div-movement-selected-view {
  margin: 5px;
}

.div-movement-graphs {
  display: flex;
  flex-direction: column;
}
